body {
    background-color: lightblue;
}

nav a {
    background-color: rgb(34, 40, 45);
    padding: 19px;
}

nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Image style */
img {
    width: 200px;
    border-radius: 10px;
}

/* Simple text styliing */
h1 {
    color: rgb(89, 42, 165);
}

p {
    color: rgb(20, 26, 23);
}